<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Matchismo3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D88F53971BBCC3A800F1667A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D88F53AB1BBCC3A800F1667A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D88F53B61BBCC3A800F1667A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
